@page
@model IndexModel
@{
    ViewData["Title"] = "Bartolo's Pizza";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Bartolo's Pizza!</h1>
    <p class="lead">El lugar para los amantes de la Pizza</p>
</div>
