@page
@model BartolosPizza.Pages.PizzaListModel
@{
    ViewData["Title"] = "Lista de Pizzas 🍕";
}

<h1>Listado de Pizzas 🍕</h1>

<!-- New Pizza form will go here -->

<!-- List of pizzas will go here -->